---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true, sideBarActiveItemID } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dracula">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
        <div class="fixed bottom-0 right-0 p-6">
          <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ItsMeAlfie0" data-color="#181920" data-emoji="☕"  data-font="Arial" data-text="Buy me a coffee!" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
        </div>
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
    <script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="157735" async="async" type="text/javascript"></script>
  </body>
</html>
